@model IEnumerable<PortalMonti.Domain.Model.Chat>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>

    <link rel="stylesheet" href="~/css/site2.css">
    <link href="~/css/chatroom.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>

<body>



    
        <div class="container">
            <div class="row clearfix">
               
                <div class="col-lg-12">
                    @*<div class="card chat-app">*@
                        <div id="plist" class="people-list">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                            <ul class="list-unstyled chat-list mt-2 mb-0">
                                @foreach (var friend in ViewBag.friends)
                                {
                                <li class="clearfix">
                                    <a asp-controller="Home" asp-action="ChatPrv" asp-route-appUserId="@friend.AuthorId">
                                        <img src="~/upload/@friend.UserPhoto" alt="avatar" style="width:50px;height:50px;">
                                        <div class="about">
                                            <div class="name">@friend.Email</div>
                                            <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
                                        </div>
                                    </a>
                                </li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

</body>

</html>