@model IEnumerable<PortalMonti.Domain.Model.Chat>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>

    <link rel="stylesheet" href="~/css/site2.css">
    
</head>

<body>



    <div class="main">

        @await Component.InvokeAsync("Room")

        <div class="">


            @foreach (var friend in ViewBag.friends)
            {
                <a class="room-button text-wrap" asp-controller="Home" asp-action="ChatPrv" asp-route-appUserId="@friend.AuthorId">
                    @friend.Email
                </a>

            }
            
        </div>

        <div class="chat">
            <div class="chat-body">
                @foreach (var chat in Model)
                {
                    <a class="room-button" asp-controller="Home" asp-action="JoinRoom" asp-route-id="@chat.Id">
                        @chat.Name
                    </a>
                }

            </div>
        </div>
    </div>



   

    <div class="modal" id="create-room-modal">
        
        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button onclick="closeModal()" type="button" class="close">X</button>
            <header>Utwórz Pokój</header>
            <div><input name="name" /></div>
            <footer>
                <button>Utwórz</button>
            </footer>

        </form>
    </div>

    <script src="~/js/site.js"></script>
   

</body>

</html>