@using Microsoft.AspNetCore.Identity;
@model IEnumerable<PortalMonti.Domain.Model.AppUser>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>Lista Zarejestrowanych użytkowników</h1>


<p id="test">This is another paragraph.</p>

<button id="btn">schowaj</button>
<button id="btn2">pokaz</button>

@if (Model.Any())
{
    <a class="btn btn-primary" style="width:auto"
       asp-area="Identity" asp-page="/Account/Register">
        Rejestracja nowego użytkownika
    </a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserLogin</h5>
            </div>
            <div>
                @Html.ActionLink("Dodaj do znajomych", "AddFriend", new { id = user.Id })
                @*@Html.ActionLink("Dodaj", "AddFriend", new { AppUser=user })*@
            </div>

            
        </div>
    }
    <br />
    <br>
}
else
{
    <div class="card">
        <div class="card-header">
            No uses created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button bellow to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-area="Identity" asp-page="/Account/Register">
                Add new User
            </a>

            fore
        </div>

    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btn").click(function () {
            $("#test").hide();
        });
        $("#btn2").click(function () {
            $("#test").show();
        });
    });
</script>

