@model PortalMonti.Application.ViewModels.Comment.NewCommentVm

@{
    ViewData["Title"] = "AddComment";
}

@*<h1>AddComment</h1>

<h4>NewCommentVm</h4>
<hr />*@
<div class="row">
    <div class="col-md-12">
        <form >
          
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea id="text" class="form-input" asp-for="Text"  placeholder="Twój komentarz"></textarea>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                </div>

                
            </div>
          
            <div class="form-group">
                @*<label asp-for="PostId" class="control-label"></label>*@
                <input type="hidden" asp-for="PostId" class="form-control" />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                

                <button id="create"  value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@


@*<form class="form-block">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group fl_icon">
                <div class="icon"><i class="fa fa-user"></i></div>
                <input class="form-input" type="text" placeholder="Your name">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 fl_icon">
            <div class="form-group fl_icon">
                <div class="icon"><i class="fa fa-envelope-o"></i></div>
                <input class="form-input" type="text" placeholder="Your email">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <textarea class="form-input" required="" placeholder="Your text"></textarea>
            </div>
        </div>
        <a class="btn btn-primary pull-right">submit</a>
    </div>
</form>*@

