@model IEnumerable<PortalMonti.Domain.Model.Notification>
@if (Model.Any(x=>x.Showed==false))
{

<a class="text-reset me-3 dropdown-toggle hidden-arrow"
   href="#"
   id="navbarDropdownMenuLink"
   role="button"
   data-mdb-toggle="dropdown"
   aria-expanded="false">
    <i class="fas fa-bell" onclick="removeNoti()" id="dzwonekPow">
        <span class="badge rounded-pill badge-notification bg-danger" id="notifications">.</span>
    </i>
</a>
 }
  else { 
    <a class="text-reset me-3 dropdown-toggle hidden-arrow"
   href="#"
   id="navbarDropdownMenuLink"
   role="button"
   data-mdb-toggle="dropdown"
   aria-expanded="false">
    <i class="fas fa-bell" onclick="removeNoti()" id="dzwonekPow">
        
    </i>
</a>
}


<ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdownMenuLink" id="zaladuj">
    <!--@foreach (var noti in Model)
    {
    <li>
        <a class="dropdown-item" href="@Url.Action("ChatPrv", "Home",new {appUserId=noti.AuthorId })">@noti.Text od : @noti.AuthorName</a>
        
    </li>
    }<li>
    <a class="dropdown-item" onclick="removeNoti()">Oznacz Jako przeczytane(JS)</a>
    @Html.ActionLink("Oznacz jako przeczytane", "SetNotiShowed", "Chat")
</li>-->
    @*<li>
            <a class="dropdown-item" href="#">Another news</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">Something else here</a>
        </li>*@
</ul>

<script>

</script>